/* Resetowanie marginesów i ustawienie układu */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
}

/* Zmiana tła przy najechaniu */
body.hover-active {
    background-color: #000000;
}

/* Stylizacja SVG, żeby było responsywne */
svg {
    width: 100%;
    height: auto;
    max-width: 660px; /* Maksymalna szerokość dla większych ekranów */
    max-height: 280px; /* Maksymalna wysokość */
    transition: filter 0.3s ease;
}

/* Efekty zmiany wyglądu przy najechaniu */
body.hover-active svg,
svg:hover {
    filter: brightness(1) invert(1);
}

/* Responsywność na mniejszych ekranach */
@media (max-width: 768px) {
    svg {
        width: 100%;
        height: auto;
    }
}
