/* Resetowanie marginesów i ustawienie układu */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
}

/* Zmiana tła przy najechaniu */
body.hover-active {
    background-color: #000000;
}

/* Stylizacja SVG */
svg {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
    filter: brightness(0);
    transition: filter 0.3s ease;
}

/* Efekty zmiany wyglądu przy najechaniu */
body.hover-active svg,
svg:hover {
    filter: brightness(1) invert(1);
}

/* Grafika WEBP - domyślnie ukryta */
#krakow {
    display: none;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
    filter: brightness(0);
    transition: filter 0.3s ease;
}

/* Stylizacja dla urządzeń mobilnych */
@media (max-width: 768px) {
    #KSGROUP-BIALY-SVG {
        display: none;
    }
    #krakow {
        display: block;
    }
}

/* Efekty zmiany wyglądu przy najechaniu na mobilnych */
body.hover-active #krakow {
    filter: brightness(1) invert(1);
}
