/* Resetowanie marginesów i ustawienie układu */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
}

/* Zmiana tła przy najechaniu */
body.hover-active {
    background-color: #000000;
}

/* Stylizacja obrazka */
#krakow {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
    filter: brightness(0);
    transition: filter 0.3s ease;
}

/* Efekty zmiany wyglądu przy najechaniu */
body.hover-active #krakow,
#krakow:hover {
    filter: brightness(1) invert(1);
}

/* Responsywność */
@media (max-width: 768px) {
    #krakow {
        max-width: 100%;
        max-height: 100%;
    }
}
