/* Resetowanie marginesów i ustawienie układu */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF00FF;
    transition: background-color 0.3s ease;
    overflow: hidden; /* Zapobiega przewijaniu na mobilnych */
}
/* Zmiana tła przy najechaniu */
body.hover-active {
    background-color: #000000;
}
/* Kontener obrazu */
#KSGROUP-STRONA {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Wysokość pełnego ekranu */
    width: 100vw; /* Szerokość pełnego ekranu */
    position: absolute; /* Absolutne pozycjonowanie */
    top: 0;
    left: 0;
}
/* Stylizacja obrazka */
#KSGROUP-LOGO-SVG-WEBP {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
    filter: brightness(0);
    transition: filter 0.3s ease;
}
/* Efekty zmiany wyglądu przy najechaniu */
body.hover-active #KSGROUP-LOGO-SVG-WEBP,
#KSGROUP-LOGO-SVG-WEBP:hover {
    filter: brightness(1) invert(23%) sepia(198%) saturate(5000%) hue-rotate(300deg);
}

/* Responsywność */
@media (max-width: 768px) {
    #KSGROUP-LOGO-SVG-WEBP {
        max-width: 100%;
        max-height: 100%;
    }
}